{% extends "home/index.html" %}
{% load static %}

{% block library_title %}
Avatar Load
{% endblock %}

{% block my_blog_header %}
<header>
    <div>
        <div>
            <div>
                <div>
                    <h1>Cargar Imagen de Avatar</h1>
                    <span class="h3">My BookStore</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block library_content %}
    <h1>Usuario: {{user.username}} | {{user.first_name}} {{user.last_name}}</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Cargar Imagen</button>
    </form>
{% endblock %}