{% extends "home/index.html" %}
{% load static %}

{% block library_title %}
    Change Password
{% endblock %}

{% block library_header %}
<header>
    <div>
                    <h1>Cambiar password</h1>
                    <span class="subheading">My Library</span>
    </div>
</header>
{% endblock %}

{% block library_content %}

<h3>Usuario: {{user.username}}</h3>

<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Cambiar password" />
</form>

{% endblock %}