{% extends "home/index.html" %}
{% load static %}

{% block library_title %}
Update User
{% endblock %}

{% block library_header %}
<header>
    <div class="container position-relative px-4 px-lg-5">
                    <h1>Editar usuario</h1>
                    <span class="subheading">My library</span>

        <a class="button_custom" href="{% url 'home:password-change' %}">Cambiar Password</a>
    </div>
</header>
{% endblock %}

{% block library_content %}

<h3>Usuario: {{user.username}} | Nombre: {{user.first_name}} {{user.last_name}}</h3>

<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Guardar usuario" />
</form>

{% endblock %}