{% extends "home/index.html" %}
{% load static %}

<!-- ckeditor-->
{% block extrahead %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{{ block.super }}
{% endblock %}
<!-- ckeditor-->

{% block library_title %}
Book Create-Update
{% endblock %}

{% block library_header %}
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1>Reseñas de Libros</h1>
        <div></div>
            <p class="lead">Formulario para crear/editar libro</p>

        <div></div>            
    </div>
</header>
{% endblock %}

{% block library_content %}
<div class="container px-4 text-center">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        {{ form.media }} <!-- ckeditor-->
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Guardar Libro" />
    </form>
</div>

<!-- Divider-->
<hr/>

{% endblock %}