{% extends "home/index.html" %}
{% load static %}

<!-- ckeditor-->
{% block extrahead %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{{ block.super }}
{% endblock %}
<!-- ckeditor-->
{% block library_title %}
Book Create-Update
{% endblock %}

{% block library_header %}
<header>
    <div>
                     <h2>Formulario eliminar Libro</h2>
                    <span>My Library</span>
    </div>
</header>
{% endblock %}

{% block library_content %}
<h1>Estás seguro de eliminar el Curso: {{ book.name }}?</h1>

<form action="" method="POST">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" value="Si, eliminar.">
    <a class="btn btn-primary" href="{% url 'book:book-list' %}" >Cancelar</a>
</form>

{% endblock %}