{% extends "home/index.html" %}
{% load static %}


{% block library_title %}
Book Create-Update
{% endblock %}

{% block library_header %}
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
       <h2>Listado de Libros</h2><div></div>
                <p></p>    
    </div>
    <div class="container px-4 text-center"><p></p>
        <a class="btn btn-primary" href="{% url 'book:book-add' %}">Crear Libro</a>
    </div>
</header>
{% endblock %}

{% block library_content %}

    {% for book in book_list %}
        <!-- Post preview-->
        <div class="container px-4">
            <a href="{% url 'book:book-detail' book.id %}">
            <p class="lead">Libro: {{ book.name }}</p>
            <p class="lead">Autor: {{ book.author }}</p></a>
            <p>Editorial: {{ book.publisher }}</p>
            <p>ISBN: {{ book.isbn }}</p>
            <p class="post-meta">
                Creado por
                <span style="color: #0b4956;" href="">{{ book.owner.username }}</span>
            </p>           
        </div>
        <!-- Divider-->
        <hr/>
    {% endfor %}

{% endblock %}